<a href="https://colab.research.google.com/github/sairajj29/Weeks/blob/main/week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Section A

In [ ]:
#Q1)write a python program to print "Hello Python"

a=str("Hello Python")
print(a)

Hello Python

In [ ]:
#Q2)Write a Python program to do arithmetical operations addition and division?

a=20
b=10
print(a+b)
print(a/b)

30
2.0

In [ ]:
#Q3)Write a Python program to find the area of a triangle?

base = float(input("Enter a base:"))
height = float(input("Enter the height:"))
Area = 0.5*base*height
print("Area of Triangle:",Area)

Enter a base:4
Enter the height:8
Area of Triangle: 16.0

In [ ]:
#Q4)Write a Python program to swap two variables?

a="Sairaj"
b="Patil"
print("a before swapping: ",a,"b before swapping: ",b)
c=a
a=b
b=c
print("a after swapping: ",a,"b after swapping:",b)

a before swapping:  Sairaj b before swapping:  Patil
a after swapping:  Patil b after swapping: Sairaj

In [ ]:
#Q5)Write a Python program to generate a random number?

import random
a=random.randrange(1,9999)
print(a)

9894

Section B

In [ ]:
#Q1)Write a python program to convert kilometers to miles?
KM = int(input("Enter Kilometer value:"))
miles = 0.621* KM
print(KM ," km = ",miles ,'miles')

Enter Kilometer value:10
10  km =  6.21 miles

In [ ]:
#Q2)Write a python program to convert Celsius to Fahrenheit?
Celsius = float(input("Enter celsius value:"))
Fahrenhiet = (Celsius*1.8)+32
print(Celsius," °C =",Fahrenhiet,"℉")

Enter celsius value:25
25.0  °C = 77.0 ℉

In [ ]:
#Q3)Write a python program to display calender?
import calendar
yy = 2022
mm = 11 #month
print(calendar.month(yy,mm))

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
#Q4)Write a python program to solve quadratic equation?

In [ ]:
#Q5)Write a python program to swap two variables without temp variables?
x = 19
y = 29
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 29
The value of y after swapping: 19

Section C

In [ ]:
#Q1)Write a python program to check if a number is positive, negative or zero?
num = float(input("Enter a number: "))
if num >= 0:
   if num == 0:
       print("Zero")
   else:
       print("Positive number")
else:
   print("Negative number")

Enter a number: 16
Positive number

In [ ]:
#Q2)Write a Python Program to Check if a Number is Odd or Even?
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 9
9 is Odd

In [ ]:
#Q3) Write a Python Program to Check Leap Year?

In [ ]:
#Q4)Write a Python Program to Check Prime number?
num = int(input("Enter a number: "))
python = False
if num > 1:
  for i in range(2, num):
        if (num % i) == 0:
            python = True
            break
if python:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 35
35 is not a prime number

In [ ]:
#Q5)Write a python program to print all prime number in an Interval of 1-10000?
lower = 1
upper = 10000
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
  if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Section D

In [ ]:
#Q1)Write a Python program to find the Fractional of a Number?

In [ ]:
#Q2)Write a python program to display the multplication table?
num = 8
for i in range (1,11): 
  print(num, 'x', i,'=',num*i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
#Q3)Wite a python program to print the Fibonacci sequence?
n_1 = 0
n_2 = 1
count = 0
n_terms = int(input())
if n_terms <= 0:
  print("Please enter a positive integer , the given number is not valid")
elif n_terms == 1:
  print("The Fibonacci sequence of the number up to", n_terms, ": ")
  print(n_1)
else:
    print ("The fibonacci sequence of the number is:")
    while count < n_terms:
      nth = n_1 + n_2
      n_1 = n_2
      n_2 = nth
      count= count + 1
      print(nth)

5
The fibonacci sequence of the number is:
1
2
3
5
8

In [ ]:
#Q4)Write a python program to check Armstrong Number?
num = int(input("Enter a number: "))
sum=0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 343
343 is not an Armstrong number

In [ ]:
#Q5)Write a python program to find Armstrong number in an interval?
lower = 100
upper = 1000
for num in range(lower , upper + 1):
  order = len(str(num))
  sum= 0
  temp = num
  while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
  if num == sum:
       print(num)

153
370
371
407

In [ ]:
#Q6)Write a python program to find the sum of Natural numbers?
num = 20
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 210

Section E

In [ ]:
#Q1)Write a python program to find sum of array?

arr = [2,3,4,5,9]
for i in arr:
  sum = i
print(sum)

9

In [ ]:
#Q2)Write a python program to find largest element in an array?

arr = [4 , 6, 7, 8, 9, 18]
lar=0
for i in range(len(arr)):
  if arr[i] > lar:
    lar = arr[i]
print(lar)

18

In [ ]:
#Q3)Write a python program to find array rotation?

def rotateArray(a,d):
  temp = []
  n=len(a)
  for i in range(d,n):
    temp.append(a[i])
  i=0
  for i in range (0,d):
    temp.append(a[i])
  a=temp.copy()
  return a

arr = [1,2,3,4,5,6,7]
print("Array after left rotation is: ",end='')
print(rotateArray(arr,2))

Array after left rotation is: [3, 4, 5, 6, 7, 1, 2]

In [ ]:
#Q4)Write a python program to split the array and add the first part of the end?

def splitArr(arr,n,k):
  for i in range(0,k):
    x = arr[0]
    for j in range(0 , n-1):
      arr[j] = arr[j+1]

      arr[n-1] = x
arr = [3, 4, 14, 16, 18, 22]
n = len(arr)
position=2

splitArr(arr ,n , position)

for i in range(0 , n):
  print(arr[i] ,end= ' ')

14 16 18 3 4 4

Section F

In [ ]:
#Q1)Write a Python program to find sum of elements in list? 

a = 0
list1 = [7, 14, 6, 19, 23] 
for ele in range(0, len(list1)): 
  a = a + list1[ele] 
  print("Sum of all elements in given list: ",a )

Sum of all elements in given list:  7
Sum of all elements in given list:  21
Sum of all elements in given list:  27
Sum of all elements in given list:  46
Sum of all elements in given list:  69

In [ ]:
#Q2)Write a Python program to Multiply all numbers in the list? 

def multiplyList(myList) : 
  result = 1
  for x in myList: 
    result = result * x
  return result 
list1 = [20, 16, 55] 
list2 = [44, 37, 56] 
print(multiplyList(list1)) 
print(multiplyList(list2))

17600
91168

In [ ]:
#Q3)Write a Python program to find smallest number in a list? 

l = [140, 290, 233, 41, 69] 
l.sort() 
print("Smallest element is:", *l[:1])

Smallest element is: 41

In [ ]:
#Q4)Write a Python program to find largest number in a list? 

list = [199, 25, 784, 15, 779] 
print("Largest element is:", max(list))

Largest element is: 784

In [ ]:
#Q6)Write a Python program to find N largest elements from a list? 

def Nmaxelements(list, N):
  final_list = [] 
  
  for i in range(0, N): 
    max1 = 0 
    
    for j in range(len(list)): 
      if list[j] > max1: 
        max1 = list[j]; 

    list.remove(max1); 
    final_list.append(max1) 

  print(final_list) 
list = [23,44,55,65,76,89,33,85] 
N = 2 
Nmaxelements(list, N)

[89, 85]

In [ ]:
#Q7)Write a Python program to print even numbers in a list? 

list = [14,55,32,456,67,89] 
num = 0 
while(num < len(list)): 
  if list[num] % 2 == 0: 
   print(list[num], end=" ")  
  num += 1

14 32 456

In [ ]:
#Q8)Write a Python program to print odd numbers in a List? 


list = [2,5,66,75,43,89] 
for num in list: 
  
  if num % 2 != 0: 
   print(num, end = " ")

5 75 43 89