<a href="https://colab.research.google.com/github/sairajj29/Weeks/blob/main/Copy_of_week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
        
car = Vehicle(186,23 )
print(car.max_speed, car.mileage)

186 23

In [ ]:
class Vehicle:
    pass

In [ ]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):                
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 95)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 9500

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 13, 96)
print("Total Bus fare is:", School_bus.fare()) 

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 13, 96)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 9600
Total Bus fare is: 9600